@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
    background-color: grey;
    color: white;
}

/* heading and logo */

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    text-align: center;
}

header a {
    text-decoration: none;
}

/* navigations link */

#menu {
    font-size: 110%;
    letter-spacing: 4px;

}

#menu,
#logo {
    line-height: 75px;
    background-color: black;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
    letter-spacing: 10px;
    padding: 1%;
}


#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Home page stylings */

.homeSection {
    display: flex;
    justify-content: space-between;
}

#leftHomeContent {
    width: 50%;
}

#rightHomeContent {
    display: flex;
    width: 50%;
    z-index: 100;
}

#rightHeader {
    text-align: right;
}

.slantedContainer {
    width: 25%;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 87% 100%);
}

#homePageContent {
    background-color: black;
    width: 75%;
}


#imageStyle {
    height: 100%;
    /* 
    POTENTIAL ANIMATION FEATURE

    animation-name: imageAnimation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    overflow: hidden;
    */
}

/* @keyframes imageAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
*/
footer {
    position: static;
}

/* Workouts page stylings */

/* Outer container for workout section */
.workoutSection {
    display: flex;
    height: 400px;
}

.imageContainer {
    background-color: #f16c6b;
    width: 40%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    background-color: #67ea7d;
    width: 60%;
    display: flex;
    height: 100%;
    align-items: center; /* aligned content vertically*/
    flex-direction: column;
}



#displayContainer {
    display: table;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
  }

.workoutTable {
    margin-left: auto;
    margin-right: auto;
}
#armMedia {
    width: 50%;
    height: 50%;

    /* currently causes footer to overlap with image NOW FIXED*/
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: none;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../Images/arm.webp") no-repeat center center;
    background-position: center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
    scale: 1.0;
    opacity: 0.8;
}

#circle-cover-bg:hover {
    opacity: 1;
    transform: scale(1.1);
}


/* Contact form*/

/* Form */

.form-section {
    clear: left;
    background: url("https://manofmany.com/wp-content/uploads/2019/03/Arnold-Schwarzeneggers-Diet-and-Workout-Plan.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
    opacity: 1;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.85);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    border-radius: 15px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
    cursor: pointer;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* Media queries */