@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
    background-color: grey;
    color: white;
}

/* heading and logo */

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    text-align: center;
}

header a {
    text-decoration: none;
}

/* navigations link */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
   
}

#menu, #logo {
    line-height: 75px;
    background-color: black;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
    letter-spacing: 10px;
    padding: 1%;
}


#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Home page stylings */

.homeSection{
    display: flex;
    justify-content: space-between;
}

#leftHomeContent {
    width: 50%;
}

#rightHomeContent {
    display: flex;
    width: 50%;
    z-index: 100;
}

.slantedContainer {
    width: 25%;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 87% 100%);
}

#homePageContent {
    background-color: black;
    width: 75%;
}


#imageStyle {
    height: 100%;
    /* 
    POTENTIAL ANIMATION FEATURE

    animation-name: imageAnimation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    overflow: hidden;
    */
}

/* @keyframes imageAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
*/
footer {
    
}

/* Workouts page stylings */

#workoutSection {
    background-color: red;
}

#armMedia {
    width: 50%;
    height: 50%;
    float: left; /* currently causes footer to overlap with image*/
}
